<h1>Add a Squad</h1>

<form action="/squads" method="post">
<label for="name">Name</label>
<input class="form-control" name="name" id="name" type="text">

<label for="cause">Cause</label>
<input class="form-control" cause="cause" id="cause" type="text">



  <button type="submit" class="btn btn-success">Add Squad</button>
</form>
