<h1>Add a Squad</h1>

<form action="/squads" method="post">
<label for="name">Name</label>
<input class="form-control" name="name" id="name" type="text">

<label for="reason">Reason</label>
<input class="form-control" reason="reason" id="reason" type="text">



  <button type="submit" class="btn btn-success">Add Squad</button>
</form>